@import url('https://fonts.googleapis.com/css2?family=Allison&family=Anton&family=Handlee&family=Herr+Von+Muellerhoff&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:wght@400;500;600;700&family=Merienda:wght@700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Parisienne&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Shippori+Mincho:wght@400;500;600;700;800&family=Signika:wght@300;400;500;600;700&family=Special+Elite&family=Varela+Round&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

p,
strong,
label,
li,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
body {
    font-family: 'Poppins' !important;
}

.bg-grey {
    background-color: #c7d0d8;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

div.container-fluid {
    height: 100%;
}

div#participants {
    overflow-y: auto;
}

div.participant {
    background: center no-repeat url("data:image/svg+xml;utf8,<svg class='bi bi-person-fill' width='80' height='45' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z' clip-rule='evenodd'/></svg>");
    border: 1px solid gray;
    display: inline-flex;
    height: 90px;
    margin: 10px 5px;
    max-width: 160px;
    overflow: hidden;
}

div.participant>video {
    width: 100%;
}

div.participant.main {
    height: inherit;
    margin: 10px 0;
    max-width: 100%;
    width: 100%;
}

div.participant.main>video {
    height: 720px;
}

div.participant.active {
    border: 1px solid crimson;
    box-shadow: 0 0 5px crimson;
}

div.participant.active.pinned {
    border: 1px solid limegreen;
    box-shadow: 0 0 5px limegreen;
}

div.participant:hover {
    cursor: pointer;
}

div.participant::before {
    background-color: black;
    color: white !important;
    content: attr(data-identity);
    font-size: 10px;
    padding: 0 5px;
    position: absolute;
    z-index: 1000;
}

div.participant.main::before {
    font-size: 14px;
    padding: 0 10px;
}

@media (max-width: 576px) {
    div#participants {
        overflow-x: auto;
        white-space: nowrap;
    }

    div.participant.main>video {
        height: 180px;
    }
}

@media (max-width: 768px) {
    div.participant.main>video {
        height: 150px;
    }
}

.footer_video button#leave-room {
    width: 60px;
    height: 60px;
    padding: 0 0;
    border-radius: 100%;
    background: #f71e1e;
    border: none;
}

.footer_video {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
}

div.container-fluid {
    height: unset !important;
    float: left;
    width: 100%;
}

.audio_btn {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 100%;
    margin: 0 0 0 10px;
}

.bg-light-grey {
    background-color: rgba(240, 239, 244, 1) !important;
}

.cursor-pointer {
    cursor: pointer;
}

.single-participant-image {
    width: 35px;
    border-radius: 50%;
}

a#logo {
    font-weight: 500;
}

p,
input,
textarea,
select {
    font-weight: 400;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #60ed60;
}

input:focus+.slider {
    box-shadow: 0 0 1px #60ed60;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

p.private-room {
    font-size: 22px;
    font-weight: 500;
}

.room {
    position: relative;
}

.room .dropdown {
    position: absolute;
    top: 7px;
    right: 11px;
}

.dropdown-toggle:after {
    content: none !important
}

.user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0px 10px;
}

/* create room css */

button.btn-primary {
    padding: 8px 30px;
    border-radius: 40px;
}

input,
select,
textarea {
    padding: 12px !important;
    height: auto !important;
}

label {
    font-size: 15px;
    font-weight: 400 !important;
}

input,
textarea,
select {
    font-size: 15px !important;
    color: #ff1c50 !important;
    font-weight: 600 !important;
}

#create-room-page input::placeholder,
#create-room-page textarea::placeholder,
select {
    color: #ff244a !important;
    font-weight: 600 !important;
}

.form-control {
    border: 1px solid #939393 !important;
}

/* create room css  ends */

/* navigation css */

#home-page input.form-control[type="search"] {
    background: #f2f2f2;
    border: none !important;
    border-radius: 40px;
}


a#logo {
    font-size: 22px;
}

.header-bars {
    position: absolute;
    right: 16px;
    top: 12px;
}

.header-section nav.navbar {
    justify-content: center;
}

form.home-search {
    position: relative;
}

.home-search button {
    border: none;
    background: transparent;
    position: absolute;
    right: 46px;
}

/* navigation css  ends */

/* home css */
span.room-title {
    font-weight: 600;
}

.room p {
    line-height: 20px;
}

.room .dropdown .dropdown-toggle img {
    max-width: 32px;

}

.navbar-light .navbar-toggler {
    border: none !important;
    font-size: 20px;
}

.dropdown .dropdown-toggle button:focus,
.dropdown .dropdown-toggle button:hover,
input:focus {
    outline: none !important;
    box-shadow: none;

}

/* home css  ends */

/* join modal css */

div#room-details {
    background: transparent;
}

div#room-details .modal-dialog {
    margin: 0 !important;
    bottom: 0;
    top: 78%;
    border: none;
}

div#room-details p {
    color: #000;
}

div#room-details .modal-content {
    background: #c6c5c4 !important;
    border: none;
    border-radius: 20px 20px 0 0;
}

/* join modal css ends */

/* speakers modal */

div#participant-options .modal-content {
    border: none;
    background: #f0eff4;
}

div#participant-options {
    background: transparent;
}

button.btn.btn-dark {
    font-size: 15px;
    padding: 8px 30px;
    border-radius: 30px;
}

button.btn.btn-danger {
    font-size: 15px;
    padding: 8px 30px;
    border-radius: 30px;
}

div#participant-options .modal-dialog {
    margin: 0 !important;
    bottom: 0;
    top: 62%;
    color: #000;
    font-weight: 400;
}

div#participant-options img {
    border-radius: 100%;
    object-fit: cover;
}

#participant-options li.list-group-item {
    background: transparent;
    border: none;
    font-size: 16px;
}

#participant-options .modal-header {
    border-bottom: 2px solid #000000;
}

.dark-icon i {
    background: #e31936;
    color: #fff;
    border-radius: 100%;
    font-size: 36px !important;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#participant-options ul li i {
    font-size: 46px;
    width: 50px;
    margin-right: 14px;
}

#participant-options ul li {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.dark-icons i {
    background: #8be85d;
    font-size: 40px !IMPORTANT;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* speaker modal ends*/

/* view room css */
p.user-left {
    color: #26b6fc;
    font-size: 20px;
    margin: 10px 0;
}

.participant.main {
    position: relative;
}

.participant.main i.left-icn {
    color: #d01e34;
    font-size: 20px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

i.dark-b {
    color: #66c7ff;
    font-size: 20px;
}

.participant.main i.rght-icn {
    color: #d01e34;
    font-size: 20px;
    right: 10px;
    position: absolute;
    bottom: 10px;
}

span.participants {
    color: #66c7ff;
    font-size: 20px;
    font-weight: bold;
    margin-right: 3px;
}

/* view room css ends */
.sliderImage {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

#leave-room-btn {
    color: #000000 !important;
}

.request-btn {
    padding: 10px 15px !important;
}

#end-room-btn {
    padding: 8px 15px !important;
}