.show-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin: 0px 7px;
}
.cross-icon{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 12px;
    top: 4px;
    cursor: pointer;
}